<!DOCTYPE html>
<html>
<head>
    <title>Varios Gráficos en Flask</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
        .container {
            margin-top: 20px;
        }
        .heading {
            text-align: center;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .plot-section {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="plot-section">
            <h1 class="heading">Gráficos Descriptivos</h1>
            {% for plot_url in descriptive_plot_urls %}
                <img src="data:image/png;base64,{{ plot_url }}">
            {% endfor %}
        </div>

        <div class="plot-section">
            <h1 class="heading">Profiling</h1>
            {% for plot_url in profiling_plot_urls %}
                <img src="data:image/png;base64,{{ plot_url }}">
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
